* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  min-height: 90vh;
  margin: 5vh auto;
  padding: 1rem;

  background-color: white;
  border-radius: 5px;
  text-align: center;
}
